.audiobox{
    height:400px;
    width:300px;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    position:absolute;
    overflow: hidden;
    transition: 0.5s;
  }
  .audiobox:hover{
    transform: scale(1.1);
  }
  h3{
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
  }
  .des{
      width: 500px;
      position: absolute;;
      top: 95%;
      left: 38%;
      padding: 10px;
  }
  body{
      height: 1200px;
  }
  p{
    font-family: 'Inconsolata', monospace;
    letter-spacing: .2em;
    font-size: 25px;
  }